body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

header {
    box-sizing: border-box;
}

#alvo{
    height: 4.375rem;
    width: 4.375rem;
    position: absolute;
}

#area_jogo {
    position: relative; /* Necessário para posicionar a imagem dentro dessa área */
    width: auto; /* Largura da área do jogo */
    height: auto; /* Altura da área do jogo */
    overflow: hidden; /* Impede que a imagem saia da área do jogo */
}