@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {

    --font-titulo: "Montserrat", sans-serif;
    --font-texto: "Open Sans", sans-serif;
    --font-botao: "Nunito", sans-serif;

    --cor-de-fundo: #F2F2F2;
    --cor-de-titulo: #003366;
    --cor-de-texto: #000000;
    --cor-do-botao: #0099FF;
    --cor-do-botao-hover: #007ACC;
    --cor-da-fonte-botao: #000000;
    --cor-da-fonte-botao-hover: #FFFFFF;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.conteudo_principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;
    min-height: 100vh;
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: var(--font-texto);
}

.conteudo_principal_selecao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12.5rem;
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto);
    font-family: var(--font-texto);
}

.conteudo_selecao_jogos{
    display: flex;
    gap: 12.5rem;
}

.botoes-jogos {
    height: 5.625rem;
    width: 9.375rem;
    font-size: 1.5625rem;
}

.cabecalho_menu {
    width: 100%;
    height: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho_menu_titulo {
    font-size: 3.75rem;
}

.conteudo_menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.conteudo_menu_botoes {
    display: flex;
    flex-direction: column;
    margin-left: 0.625rem;
    gap: 0.625rem;
}

.botoes_telaInicial {
    height: 3.125rem;
    width: 10rem;
    font-size: 2.1875rem;
    cursor: pointer;
    transition: border-radius 0.3s ease, background-color 0.3s ease;
}

.botoes_telaInicial:hover {
    border-radius: 0.625rem;
    background-color: var(--cor-do-botao-hover);
    color: var(--cor-da-fonte-botao-hover);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.botao-voltar-selecao {
    text-align: left;
}

#jogo-alvo {
    font-size: 1.5625rem;
    cursor: pointer;
    transition: border-radius 0.3s ease, background-color 0.3s ease;
}

#jogo-alvo:hover {
    border-radius: 0.625rem;
    background-color: var(--cor-do-botao-hover);
    color: var(--cor-da-fonte-botao-hover);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rodape {
    font-size: 1.2rem;
	text-align: center;
	background-color: black;
	color: white;
	margin-top: auto;
	width: 100%;
    position: fixed;
    bottom: 0;
}

h1 {
    color: var(--cor-de-titulo);
    font-family: var(--font-titulo);
}

button {
    background-color: var(--cor-do-botao);
    font-family: var(--font-botao);
}