body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.destaque {
    color: #3880c9;
}

.tutorial_imagem {
    height: 300px;
    width: 500px;
}

.cabecalho_tutorial {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.conteudo_tutorial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 305px;
}

.conteudo_tutorial_texto {
    font-size: 22px;
}

.conteudo_tutorial_cliques {
    width: 500px;
    height: 305px;
    background-color: #003366;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.conteudo_clique {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

#div1 {
    background-color: lightgreen;
}

#div2 {
    background-color: lightblue;
}

#div1,
#div2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixaDeTexto {
    height: 200px;
    width: 250px;
    resize: none;
}

.botoes-voltar-continuar {
    height: 40px;
    width: 200px;
    font-size: 15px;
    cursor: pointer;
    transition: border-radius 0.3s ease, background-color 0.3s ease;
}

.botoes-voltar-continuar:hover {
    border-radius: 10px;
    background-color: #007ACC;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.voltar-continuar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.noselect {
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}