body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.destaque {
    color: #3880c9;
}

.tutorial_imagem {
    height: 18.75rem;
    width: 31.25rem;
}

.cabecalho_tutorial {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.conteudo_tutorial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 19.0625rem;
}

.conteudo_tutorial_texto {
    font-size: 1.375rem;
}

.conteudo_tutorial_cliques {
    width: 31.25rem;
    height: 19.0625rem;
    background-color: #003366;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.625rem;
}

.conteudo_clique {
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 0.625rem;
}

#div1 {
    background-color: lightgreen;
}

#div2 {
    background-color: lightblue;
}

#div1,
#div2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixaDeTexto {
    height: 12.5rem;
    width: 15.625rem;
    resize: none;
}

.botoes-voltar-continuar {
    height: 2.5rem;
    width: 12.5rem;
    font-size: 0.9375rem;
    cursor: pointer;
    transition: border-radius 0.3s ease, background-color 0.3s ease;
}

.botoes-voltar-continuar:hover {
    border-radius: 0.625rem;
    background-color: #007ACC;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.voltar-continuar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1.25rem;
}

.noselect {
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}